<form #addendumForm="ngForm" (ngSubmit)="onSubmit(contratoForm)">
	<div style="text-align:center">
		<h1 class="display-4">Addendum</h1>
		<legend></legend>
		<hr>
	</div>
	<div>
		<p-growl [(value)]="msgs" life="3000" [immutable]="false"></p-growl>
	</div>
	<br>
			<div class="form-group row">
			  	<label class="col-md-3 col-form-label text-right" for="fechaDel"><strong>Periodo del contrato</strong></label>
				<div class="col-3">
					<input class="form-control" placeholder="dd/mm/yyyy" 
							id ="fechaDel" name="fechaDel" 
							[(ngModel)]="data.fechaDel"
							disabled
					>
				</div>
				<label class="col-sm-1 col-form-label text-center" for="fechaAl"><strong>al</strong></label>
				<div class="col-3">
					<input class="form-control" placeholder="dd/mm/yyyy" 
							id ="fechaAl" name="fechaAl" 
							[(ngModel)]="data.fechaAl"
							disabled
					>
				</div>

		    </div>

		    <div class="form-group row">
			  	
				<label class="col-md-3 col-form-label text-right" for="fechaContrato"><strong>Fecha del Addendum</strong></label>
				<div class="col-3">
					<input class="form-control" placeholder="dd/mm/yyyy" 
							id ="fechaContrato" name="fechaContrato" 
							[(ngModel)]="data.fechaContrato"
							#fechaC="ngModel"
							ngbDatepicker 
							#dc="ngbDatepicker"
							(click)="dc.toggle()"						        			 
							required
							[minDate]="fechaMinima"
							[maxDate]="fechaMaxima"
					>				
				</div>
				<div>
					<button class="input-group-addon" (click)="dc.toggle()" type="button">
			        	<i class="fa fa-calendar"></i>
			      	</button>
			    </div>							  
		    </div>

		    <div class="form-group row">
		    	<label class="col-md-3 col-form-label text-right" for="honorario"><strong>Honorarios</strong></label>
				<div class="col-3">
			  		<input class="form-control" type="number" id="honorario" name="honorario" #h required [(ngModel)]="data.honorario" min="1000">
			  	</div>
		    </div>
		    <div class="form-group row">
			  	
				<label class="col-md-3 col-form-label text-right" for="ubicacion"><strong>Ubicacion Funcional</strong></label>
				<div class="col-9">
			  		<p-autoComplete  [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" 
	        			[minLength]="3"
				      	[(ngModel)]="ubicacion" 
				      	[suggestions]="ubicaciones" 
				      	name="ubicacion"
				      	(completeMethod)="searchUbicacion($event)" 
				      	(onSelect)="seleccionaUbicacion()" 		      
				      	placeholder="Escriba el nombre de la ubicacion funcional"
				      	field ="nombre"
				      	inputId="ubica"
				      	required
				      	#u>	
					</p-autoComplete>
			  	</div>
				
		    </div>

		    <div class="form-group row">
			  	
				<label class="col-md-3 col-form-label text-right" for="perfiles"><strong>Actividades</strong></label>
				<div class="col-4">

			  		<p-dataList [value]="perfiles" emptyMessage="">
			  			<p-header>
	        				Perfiles
	    				</p-header>
	    				<p-footer>Escoja de la lista</p-footer>
					    <ng-template let-perfil let-i="index" pTemplate="item">
					        <div class="lista-elementos" (click)="selectPerfil(perfil)" >{{perfil.nombre}}</div>
					    </ng-template>
					</p-dataList>

			  	</div>			  	
			  	<div class="col-4">		  		
			  		<p-dataList [value]="data.actividades" emptyMessage="">
			  			<p-header>
	        				Actividades
	    				</p-header>
					    <ng-template let-actividad let-i="index" pTemplate="item">						    
					    	<input 	type="checkbox"					    			
					    			name="cb{{actividad.idActividad}}"
					    			id="cb{{actividad.idActividad}}"
					    			[(ngModel)]="actividad.seleccionado"
					    			pTooltip={{actividad.descripcion}}
					    			> {{actividad.nombre}}<br>
					    </ng-template>
					</p-dataList>
			  	</div>
			</div>
	<br>
	    <div class="form-group row">
	    	<div class="offset-3 col-2">
	  			<button type="submit" class="btn btn-primary" [disabled]="!addendumForm.form.valid">Crear Addendum</button>
	  		</div>
	  	</div>
</form>