<form #contratoForm="ngForm" (ngSubmit)="onSubmit(contratoForm)">
	
<div class="">
	<h1  class="display-4">Creación de contrato</h1>
	<h3  class="display-12 text-center">{{nombreCompleto}}</h3>
	<div *ngIf="!idContrato||contratoGuardado" class="row">						
        <div class="offset-2 col-md-8">
        	<p-autoComplete class="col-md-12" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" 
        			[minLength]="3"
			      	[(ngModel)]="contratista" 
			      	[suggestions]="personas" 
			      	name="contratista"
			      	(completeMethod)="search($event)" 
			      	(onSelect)="seleccionaContratista()" 		      
			      	placeholder="DPI del Contratista"
			      	field ="nombreCompleto"
			      	required
			      	#contrat>	
			</p-autoComplete>
        </div>        
	</div>
	<p-growl [(value)]="msgs" life="3000" [immutable]="false"></p-growl>
	<br>

	<div class="card">
		
		<h6 class="card-header">Datos del contratista <span class="fa fa-user"></span>
			<span *ngIf="data.idRue"  class="fa fa-pencil" (click)="openEditaPersonaModal(data)"></span>			
		</h6>

		<div class="card-block">

		    <div class="form-group row">

			    <label class="col-md-3 col-form-label text-right" for="edad"><strong>Edad</strong></label>
				<div class="col-1">
			  		<input class="form-control" type="number" id="edad" name="edad" disabled [(ngModel)]="edad" >
			  	</div>

			  	<label class="col-md-1 col-form-label text-right" for="estadoCivil"><strong>Estado Civil</strong></label>
				<div class="col-2">
			  		<input class="form-control" type="text" id="estadoCivil" name="estadoCivil" disabled [(ngModel)]="estadoCivil" >
			  	</div>		  
				
		    </div>
		    <div class="form-group row">
		    	<label class="col-md-3 col-form-label text-right" for="edad"><strong>Nacionalidad</strong></label>
				<div class="col-3">
			  		<input class="form-control" type="text" id="nacionalidad" name="nacionalidad" disabled [(ngModel)]="nacionalidad" >
			  	</div>
			</div>

		    <div class="form-group row">

			    <label class="col-md-3 col-form-label text-right" for="dpi"><strong>DPI</strong></label>
				<div class="col-3">
			  		<input class="form-control" type="number" id="dpi" name="dpi" disabled [(ngModel)]="dpi" >
			  	</div>

			    <label class="col-md-1 col-form-label text-right" for="nit"><strong>NIT</strong></label>
				<div class="col-2">
			  		<input class="form-control" type="text" id="nit" name="nit" disabled [(ngModel)]="nit" >
			  	</div>

		    </div>

		    <div class="form-group row">
			    <label class="col-md-3 col-form-label text-right" for="direccion"><strong>Dirección de residencia</strong></label>
				<div class="col-6">
			  		<input class="form-control" type="text" id="direccion" name="direccion" disabled [(ngModel)]="direccion" >
			  	</div>
		    </div>

		</div>
	</div>
	<br>
	<div class="card">
		
		<h6 class="card-header">Datos del contrato  <span class="fa fa-file-text"></span></h6>
		<div class="card-block">
			<div class="form-group row">
			  	<label class="col-md-3 col-form-label text-right" for="fechaDel"><strong>Periodo del contrato</strong></label>
				<div class="col-2">
					<input class="form-control" placeholder="dd/mm/yyyy" 
							id ="fechaDel" name="fechaDel" 
							[(ngModel)]="fechaDel"
							#fechaI="ngModel"
							ngbDatepicker 
							#di="ngbDatepicker"
							(click)="di.toggle()"						        			 
							required
							(ngModelChange)="seleccionaFechaDel()"
							[minDate]="fechaMinima"
							[maxDate]="fechaMaxima"
					>
				</div>
				<div>
					<button class="input-group-addon" (click)="di.toggle()" type="button">
			        	<i class="fa fa-calendar"></i>
			      	</button>
			    </div>
			
				<label class="col-sm-1 col-form-label text-center" for="fechaAl"><strong>al</strong></label>
				<div class="col-2">
					<input class="form-control" placeholder="dd/mm/yyyy" 
							id ="fechaAl" name="fechaAl" 
							[(ngModel)]="fechaAl"
							#fechaF="ngModel"
							ngbDatepicker 
							#df="ngbDatepicker"
							(click)="df.toggle()"						        			 
							required
							[minDate]="fechaDel"
							[maxDate]="fechaMaxima"
					>
				</div>
				<div>
					<button class="input-group-addon" (click)="df.toggle()" type="button">
			        	<i class="fa fa-calendar"></i>
			      	</button>
			    </div>
		    </div>

		    <div class="form-group row">
			  	<label class="col-md-3 col-form-label text-right" for="renglon"><strong>Renglon</strong></label>
			  	<div class="col-2">
			  		<select class="form-control" [(ngModel)]="renglon" name="renglon">
				       <option *ngFor="let renglon of renglones" [ngValue]="renglon.renglon">{{renglon.nombre}}</option>
				    </select>
			  	</div>
				<label class="col-md-2 col-form-label text-right" for="tipoServicio"><strong>Tipo Servicio</strong></label>
				<div class="col-2">
			  		<select  class="form-control" name="tipoServicios" [(ngModel)]="tipoServicios" (change)="cambiaTipoServicios(tipoServicios)">
			  			<option *ngFor="let tipoServicios of tiposServicios" [ngValue]="tipoServicios.value">{{tipoServicios.label}}</option>
			  		</select>
			  	</div>
				
		    </div>

		    <div class="form-group row">
			  	
				<label class="col-md-3 col-form-label text-right" for="ubicacion"><strong>Ubicacion Funcional</strong></label>
				<div class="col-6">
			  		<p-autoComplete  [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" 
	        			[minLength]="3"
				      	[(ngModel)]="ubicacion" 
				      	[suggestions]="ubicaciones" 
				      	name="ubicacion"
				      	(completeMethod)="searchUbicacion($event)" 
				      	(onSelect)="seleccionaUbicacion()" 		      
				      	 placeholder="Escriba el nombre de la ubicacion funcional"
				      	field ="nombre"
				      	inputId="ubica"
				      	required
				      	#u>	
					</p-autoComplete>
			  	</div>
				
		    </div>

		    <div class="form-group row">
			  	
				<label class="col-md-3 col-form-label text-right" for="perfiles"><strong>Actividades</strong></label>
				<div class="col-2">

			  		<p-dataList [value]="perfiles" emptyMessage="">
			  			<p-header>
	        				Perfiles
	    				</p-header>
	    				<p-footer>Escoja de la lista</p-footer>
					    <ng-template let-perfil let-i="index" pTemplate="item">
					        <div class="lista-elementos" (click)="selectPerfil(perfil)" >{{perfil.nombre}}</div>
					    </ng-template>
					</p-dataList>

			  	</div>
			  	<div class="col-2">		  		
			  		<p-dataList [value]="actividades" emptyMessage="">
			  			<p-header>
	        				Actividades
	    				</p-header>
					    <ng-template let-actividad let-i="index" pTemplate="item">
					    	<input 	type="checkbox"					    			
					    			name="cb{{actividad.idActividad}}"
					    			id="cb{{actividad.idActividad}}"
					    			[(ngModel)]="actividad.seleccionado"
					    			pTooltip="{{actividad.descripcion}}"
					    			> {{actividad.nombre}}<br>
					    </ng-template>
					</p-dataList>
			  	</div>
				
		    </div>

		    <div class="form-group row">
			  	
				<label class="col-md-3 col-form-label text-right" for="fechaContrato"><strong>Fecha de Contrato</strong></label>
				<div class="col-2">
					<input class="form-control" placeholder="dd/mm/yyyy" 
							id ="fechaContrato" name="fechaContrato" 
							[(ngModel)]="fechaContrato"
							#fechaC="ngModel"
							ngbDatepicker 
							#dc="ngbDatepicker"
							(click)="dc.toggle()"						        			 
							required
					>
				</div>
				<div>
					<button class="input-group-addon" (click)="dc.toggle()" type="button">
			        	<i class="fa fa-calendar"></i>
			      	</button>
			    </div>
			    <label class="col-md-1 col-form-label text-right" for="honorario"><strong>Honorarios</strong></label>
				<div class="col-2">
			  		<input class="form-control" type="number" id="honorario" name="honorario" #h required [(ngModel)]="data.honorario" min="1000">
			  	</div>

		    </div>
		</div>
	</div>
	<br>
	<div class="card">
		
		<h6 class="card-header">Información profesional   <span class="fa fa-suitcase"></span></h6>
		<div class="card-block">
	   	    <div class="form-group row">
			    <label class="col-md-3 col-form-label text-right" for="colegio"><strong>Colegio profesional</strong></label>
				<div class="col-6">
			  		<select class="form-control" [(ngModel)]="colegio" name="colegio" (change)="onChangeColegio()"
			  				[required]="tipoServicios=='P'" [disabled]="tipoServicios=='T'" >
				       <option *ngFor="let colegio of colegios" 
				       			[ngValue]="colegio.colegioProfesional">
				       			{{colegio.nombreColegioProfesional}}
				       </option>
				    </select>
			  	</div>
		    </div>


		    <div class="form-group row">

			    <label class="col-md-3 col-form-label text-right" for="titulo"><strong>Titulo Profesional</strong></label>
				<div class="col-4">
			  		<p-autoComplete  [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" 
	        			[minLength]="3"
				      	[(ngModel)]="titulo" 
				      	name="titulo"
				      	[suggestions]="titulos" 
				      	(completeMethod)="searchTitulo($event)" 
				      	placeholder="Escriba el nombre del titulo profesional"
				      	field ="nombre"
				      	inputId="titu"
				      	(onSelect)="onChangeTitulo()"
				      	#t
				      	required
				      	>	
					</p-autoComplete>
			  	</div>

		    </div>

		    <div class="form-group row">
		    	<label class="col-md-3 col-form-label text-right" for="numeroColegiado"><strong>Número de Colegiado</strong></label>
				<div class="col-2">
			  		<input class="form-control" type="number" id="numeroColegiado" name="numeroColegiado" [(ngModel)]="numeroColegiado" (change)="onChangeNumeroColegiado()" 
			  		[required]="tipoServicios=='P'" [disabled]="tipoServicios=='T'">
			  	</div>
		    </div>

		    
		</div>
	</div>
	<br>
	<div class="form-group row">

			    <label class="col-md-3 col-form-label text-right" for="observacion"><strong>Observaciones</strong></label>
				<div class="col-6">
			  		<textarea class="form-control" id="observacion" name="observacion" [(ngModel)]="data.observacion" rows="3"></textarea>
			  	</div>

	</div>
	    <div class="form-group row">
	    	<div class="offset-3 col-2">
	  			<button type="submit" class="btn btn-primary" [disabled]="!contratoForm.form.valid">Crear contrato</button>
	  		</div>
	  		<div class="col-2">
	  			<button type="button" class="btn btn-success" [disabled]="!contratoGuardado&&!idContrato" (click)="descargarDocumento()">Descargar Contrato</button>
	  		</div>
	  	</div>
</div>
</form>

